html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(166, 166, 167);
    color: black;
}

.stein {
    background-color: white;
    color: black;
    padding: 20px; /* Avstand fra boksen rundt */
    border: 3px solid black; /* Kantlinjer */
    width: 20%;
    margin-bottom: 10px;
}

.steinThumbnails { /* Setter størrelse på bildene i div taggen */
    height: 100px;
    width: 100px;
}

button {
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}