html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main {
    background-color: white;
    width: 500px;
    padding: 1rem;
}

input {
    display: block;
    width: 90%;
    margin-bottom: 1rem;
}

input[type="color"]{
    width: 50px;
    border: none;
}

#utskrift {
    display:flex;
    
}