body {
    background-color: darkgoldenrod;
}

h1 {
    border: 2px solid red;
    padding: 100px;
}

h2 {
    border-style: dotted;
    border-color: red;
}

iframe {
    margin: 0 auto;
    display: block;
}